.title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}

.body {
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
}

.FormContact {

}

.backcolor {
  background-color: #eaf0f9;
}
