.Team1 {
  text-align: center;
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

.Team2 {
  text-align: center;
}

.bio {
  height: 250px;
  width: 250px;
  background-image: url('./images/Richard.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.bio2 {
  height: 250px;
  width: 250px;
  background-image: url('./images/Loel.jpeg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.bio3 {
  height: 250px;
  width: 250px;
  background-image: url('./images/Danny.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.bio4 {
  height: 250px;
  width: 250px;
  background-image: url('./images/Kris.jpeg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
